@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 30% 14%;
    --foreground: 210 40% 98%;

    --card: 228 22% 19%;
    --card-foreground: 210 40% 98%;

    --popover: 228 22% 19%;
    --popover-foreground: 210 40% 98%;

    --primary: 196 84% 49%;
    --primary-foreground: 0 0% 100%;

    --secondary: 254 60% 56%;
    --secondary-foreground: 0 0% 100%;

    --muted: 225 15% 25%;
    --muted-foreground: 215 20.2% 75%;

    --accent: 225 15% 25%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 225 15% 25%;
    --input: 225 15% 25%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.6rem;

    --sidebar-background: 228 25% 14%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 196 84% 49%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 225 18% 20%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 225 18% 20%;
    --sidebar-ring: 196 84% 49%;
  }

  * {
    @apply border-border;
  }

body {
  @apply bg-company-gradient-professional text-foreground;
}

.card {
  @apply bg-[#252D3C] text-card-foreground rounded-lg shadow-md p-4 sm:p-6 lg:p-8;
}
h1, h2, h3 {
  @apply text-lg sm:text-xl md:text-2xl;
}
p {
  @apply text-sm sm:text-base md:text-lg;
}

}
